@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Libre+Franklin:wght@500&family=Questrial&display=swap');

:root {
    --darksky: #1B1B34;
    --lightgrey: #BBB8C6;
    --white: #FFFBFB;
    --purple: #9873A9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}

main {
    overflow: hidden;
}

body {
    position: relative;
    background: rgb(237, 184, 163);
    min-height: 100vh;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scroll-padding-top: 10px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    color: var(--lightgrey);
    background-color: var(--darksky);
}

.logo {
    max-height: 3rem;
    pointer-events: none;
}

.navigation a {
    text-decoration: none;
    color: var(--white);
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
}

.navigation a:hover,
.navigation a.active {
    background: var(--purple);
}

.parallax,
.about {
    scroll-margin-top: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.about-content {
    flex: 1;
    padding: 0 100px 0 100px;
    text-align: left;
}

.about-text {
    flex: 1;
    font-size: 1.2rem;
    color: var(--white);
    line-height: 1.5;
    padding: 0 100px 0 100px;
}

#about-heading {
    font-family: 'Inter', sans-serif;
    font-size: 5rem;
    color: var(--white);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

#about-subheading {
    font-size: 2rem;
    color: var(--lightgrey);
    margin-bottom: 20px;
}


.parallax-layer {
    position: relative;
    transform-origin: center;
    transition: transform 0.3s ease-out;
}


.parallax img {
    position: absolute;
    top: -1%;
    left: -5%;
    height: 130%;
    pointer-events: none;
}

.contact {
    position: relative;
    padding: 10rem;
    margin: 0 15rem 12rem 15rem;
    border-radius: 0.2rem;
    align-items: center;
}

.contact h2 {
    font-family: 'Inter', sans-serif;
    font-size: 5rem;
    color: var(--white);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact form label {
    flex: 1;
    font-size: 1.2rem;
    color: var(--white);
    line-height: 1.5rem;
}

.contact form input[type="text"],
.contact form input[type="email"],
.contact form textarea {
    padding: 0.3rem;
    margin-bottom: 1rem;
    border: 0px solid #ccc;
    border-radius: 0.2rem;
}

.contact form input[type="submit"] {
    padding: 10px 20px;
}


#heading {
    position: absolute;
    top: 20rem;
    font-family: 'Inter', sans-serif;
    font-size: 5rem;
    color: var(--white);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.button {
    display: block;
    margin: 20px auto;
    height: 50px;
    width: 214px;
    padding: 10px 20px;
    background-color: var(--purple);
    color: var(--white);
    box-shadow: 0px 10px 10px 0px #00000040;
    opacity: 0.9;
    border-radius: 0.2rem;
    border: none;
    outline: none;
    position: absolute;
    top: calc(27rem + 5rem);
}

.button:hover {
    opacity: 1;
    cursor: pointer;
}

#subheading {
    position: absolute;
    top: 27rem;
    font-family: 'Inter', sans-serif;
    font-size: 4rem;
    font-weight: 300;
    color: var(--white);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 800px) {
    .parallax {
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #heading {
        text-align: center;
        position: relative;
        top: unset;
        left: unset;
        font-size: 3.5rem;
    }

    #subheading {
        text-align: center;
        position: relative;
        top: unset;
        left: unset;
        font-size: 2rem;
    }

    #about-heading {
        text-align: center;
        position: relative;
        top: unset;
        left: unset;
        font-size: 3rem;

    }

    .contact h2 {
        font-size: 3.5rem;
    }

    .button {
        position: relative;
        top: unset;
    }

    .about-content {
        padding: 0 1rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    .about-text {
        padding: 1rem;
        margin: 1rem;
        font-size: 1rem;
    }

    .contact {
        padding: 2rem;
        margin: 0 1rem;
    }

    header {
        padding: 15px 20px;
    }

    .about {
        flex-direction: column;
    }

    #contactButton {
        margin-bottom: 10rem;
    }
}
